/*header */
/*top part of the header */
.search-icon{
    width: 30px;
    height: 30px;
    

}
.search-bar {
    border: 2px solid black;
    width: 400px;
    border-radius: 20px;
    height: 20px;


}

.bell{
    width: 30px;
    height: 30px;
    padding-top: 10px;;
}
.little-pikachu{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.little-profile-section{
    display: flex;

    gap: 1rem;
    margin-left: 8rem;
}
.little-profile-name{
    font-weight: bold;
    font-size: 1rem;
}
.top-section-header{
display: flex;
}
.search-bar-section{
display: flex;
margin-top: 20px;

}
/*bottom part of the header*/
.big-pikachu{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.big-profile-section{
    display: flex;
align-items: center;
}
.hi{
    font-weight: bold;
}
.benl{
    font-size: 1.5rem;
}
.bottom-section-header{
    display: flex;
    align-items: center;
    

}
.header-buttons{
display: flex;


width: 20rem;
margin-left: 16rem;

}
.header-button{
    padding: 12px;
    border-radius: 1rem;
    color: white;
    background-color: rgb(0, 106, 255);
    margin-right: 1.5rem;
    width: 5rem;
}
.header{
    background-color: beige;
}
/*sidebar*/


.dashboard-icon{
    width: 60px;
    height: 60px;
}
.dashboard-section{
    display: flex;
    align-items: center;
}
.Dashboard-name{
font-size: 1.5rem;
font-weight: bold;
}
.home-icon,
.profile-icon,
.messages-icon,
.history-icon,
.tasks-icon,
.communities-icon,
.settings-icon,
.support-icon,
.privacy-icon{
    width: 20px;
    height: 20px;
}
.home-name,
.profile-name,
.messages-name,
.history-name,
.tasks-name,
.communities-name,
.settings-name,
.support-name,
.privacy-name{
font-weight: bold;
font-size: 1.1rem;
}
.home,
.profile,
.messages,
.history,
.tasks,
.communities,
.settings,
.support,
.privacy{
    display: flex;
align-items: center;
}
.first-icon-set{

padding-top: 3rem;
line-height: 2;
}
.second-icon-set{
    padding-top: 3rem;
    line-height: 2;
}
.sidebar{
    background-color: aquamarine;
}
/*main-body*/
.inner-project-icon{
    width: 25px;
    height: 25px;
    display: flex;
    margin-left: 6rem;
}
.projects{
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
}
.project-content{
    display: grid;
    background-color: darkgrey;
    margin: 10px;
}
